html {
  scroll-behavior: smooth;
}

*,
*:visited,
*:link {
  margin: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #333;
}

header {
  position: fixed;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  background: #121212;
  height: 60px;
  box-shadow: 10px 4px 50px 0px #121212;
  z-index: 1;
  top: 0;
  width: 100%;
}

.logo,
.goback {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logo img {
  width: 140px;
  margin-left: 12px;
  transition: 0.2s;
}

.logo img:hover {
  opacity: 0.8;
}

.goback {
  position: absolute;
  left: 20px;
}

.goback-index {
  transform: rotate(180deg);
  transform: rotateY(180deg);
}

.goback img {
  width: 90px;
  margin-left: 12px;
  transition: 0.2s;
}

@media only screen and (max-width: 600px) {
  .logo img {
    width: 100px;
  }
}

.hero {
  background-image: url(/assets/images/pattern.png);
  background-size: cover;
  background-position: center;
  height: 130vh;
  position: relative;
  opacity: 50%;
}

.hero-rectangle {
  width: 60vw;
  height: 40vh;
  background-color: #333;
  opacity: 80%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.text-hero {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

.text-hero h1 {
  text-align: center;
  color: #f1f0ed;
  opacity: 100%;
  font-weight: bold;
  margin: 0 auto 20px;
  max-width: 80%;
}

.hero-start-btn {
  background-color: #7c3647;
  padding: 15px 25px;
  font-size: 20px;
}

.hero-start-btn:visited {
  color: #e4e1db;
}

.about {
  display: flex;
  color: #e4e1db;
  justify-items: center;
  align-items: center;
  margin: 100px auto;
  width: 80%;
}

.about-text {
  width: 40%;
  margin: 0 auto;
}

.about-text h2 {
  font-size: 30px;
  margin-bottom: 5px;
}

.about-image {
  width: 40%;
  display: flex;
}

.how {
  display: flex;
  justify-content: center;
  /* width: 80%;
  margin: 0 auto; */
}

.how-content {
  margin-right: 150px;
  text-align: center;
  color: #e4e1db;
}

.how-content:last-child {
  margin-right: 0;
}

.how-content img {
  width: 200px;
  height: 200px;
  /* object-fit: cover; */
  background-color: red;
  border: 2px solid #e4e1db;
}

.how-content p {
  margin: 10px auto 0 auto;
  max-width: 200px;
  text-align: left;
}

.cta {
  background-color: #7c3647;
  color: #e4e1db;
  height: 40vh;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta h1 {
  font-size: 30px;
  width: fit-content;
  position: relative;
  top: -10%;
  margin: 0 auto;
}

.cta a {
  background-color: #e4e1db;
  padding: 15px 25px;
  font-size: 20px;
  color: #121212;
}

/* @media screen and (min-width: 1000px) {
  .cta {
    height: 30vh;
  }
  .cta h1 {
    font-size: 40px;
  }

  .cta a {
    font-size: 30px;
  }
}

@media screen and (min-width: 1400px) {
  .cta h1 {
    font-size: 45px;
  }

  .cta a {
    font-size: 45px;
    padding: 25px 35px;
  }
} */

.cta a:visited {
  color: #121212;
}

.container {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 92vh;
  width: 100vw;
  margin-top: 60px;
}

.container-closed {
  grid-template-rows: repeat(8, 1fr);
}

.description {
  grid-area: 1 / 1 / 3 / 2;
  color: #e4e1db;
  display: flex;
  align-items: center;
}

.description p {
  max-width: 90%;
  margin-left: 20px;
}

.task-box {
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  align-items: center;
}

.task {
  background-color: #f1f0ed;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.checkbox {
  /* width: 50px;
  height: 50px; */
  height: 5vh;
  width: 5vh;
  min-width: 50px;
  min-height: 50px;
  aspect-ratio: 1/1;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.checkbox img {
  margin: 0;
  padding: 0;
  width: 4.9vh;
  min-width: 50px;
  min-height: 50px;
  height: 4.9vh;
  aspect-ratio: 1/1;
  display: none;
}

.tasktext {
  margin-left: 20px;
  max-width: 80%;
}

.blocklyDiv {
  grid-area: 3 / 1 / 8 / 2;
  border: 2px solid #121212;
  border-bottom: 0;
}

.blocklyDivClosed {
  grid-area: 2 / 1 / 9 / 2;
}

.code-output {
  grid-area: 3 / 2 / 6 / 3;
  background-color: #121212;
}

.code-output-closed {
  grid-area: 2 / 2 / 6 / 3;
  background-color: #121212;
}

.code-output textarea {
  background-color: #121212;
  color: #f1f0ed;
  resize: none;
}

.code-output p {
  color: #f1f0ed;
}

.buttons-container {
  grid-area: 6 / 2 / 8 / 3;
}

.hint-container {
  height: 10vh;
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.hint-container img {
  height: 50px;
  border: 2px solid #ff00ff70;
  padding: 5px 12px;
  background-color: #121212;
}

.hint-container img:hover {
  border: 2px solid #f0f;
  transition: 0.5s border;
}

.hint {
  background-color: #f1f0ed;
  padding: 15px;
  width: 70%;
  display: none;
}

.buttons {
  color: #f1f0ed;
  position: absolute;
  width: 37%;
  bottom: 2%;
  display: flex;
  justify-content: flex-end;
}

.prev-task:link,
.next-task:link,
.run-code:link,
.prev-task:visited,
.next-task:visited,
.run-code:visited {
  color: #f1f0ed;
}

.prev-task:active,
.next-task:active,
.run-code:active {
  color: #f0f;
}

.buttons a {
  padding: 15px;
  background-color: #121212;
  font-size: 14px;
  float: right;
  margin: -15px 10px 10px 10px;
}

a.run-code,
a.next-task-complete {
  background-color: #2a4843;
  font-weight: bold;
}

.description-closed {
  display: none;
}

.arrow {
  border: solid #e4e1db;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
  margin-top: 25px;
}

.arrow:hover {
  border: solid #f0f;
  border-width: 0 2px 2px 0;
  transition: 0.5s;
}

.down {
  transform: rotate(45deg);
}

.arrow-closed {
  transform: rotate(225deg);
}

.blocklySvg text {
  fill: #f0f;
}

.blocklyMainBackground {
  stroke: none;
}

.blocklyToolboxDiv {
  border-right: 2px solid #121212;
}

.hub-main div {
  width: 15%;
  aspect-ratio: 1/1;
  background-color: #f1f0ed;
  position: absolute;
}

@media only screen and (min-width: 1200px) {
  .hub-main div {
    width: 10%;
    aspect-ratio: 1/1;
  }
}

.module-one {
  top: 20%;
  left: 20%;
}

.module-two {
  top: 55%;
  left: 35%;
}

.module-three {
  top: 35%;
  left: 60%;
}

.module-four {
  top: 65%;
  left: 80%;
}
.freemode {
  position: absolute;
  top: 70%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  background-color: #e4e1db;
}

.hub-main div h2 {
  color: #f0f;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
}

.hub-main div h3 {
  display: flex;
  justify-content: center;
  font-size: 3vw;
}

@media screen and (min-width: 1300px) {
  .freemode {
    width: 200px;
    height: 200px;
    top: 65%;
  }
}

.hub-main-new {
  position: absolute;
  top: 10vh;
  width: 100%;
  height: 100vh;
}

.module-container {
  width: 60%;
  background-color: #f1f0ed;
  height: 120px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: flex-start;
}

.hub-number-container {
  background-color: #a5b1aa;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hub-number-container h2 {
  color: #121212;
  font-size: 60px;
}

.hub-text-container {
  width: 80%;
}

.hub-text-container h3 {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 24px;
}

.hub-text-container p {
  margin-top: 5px;
  margin-left: 10px;
}
